* {
  margin: 0;
 padding: 0;
list-style-type: none;
box-sizing: border-box;
text-decoration: none;
 }
  
  @font-face {
    font-family: font1;
    src: url("fonts/Abel-Regular.woff");
 }
  
 @font-face {
    font-family: font2;
    src: url("fonts/Barlow-Regular.woff");
 }
  
  @font-face {
    font-family: font3;
    src: url("fonts/Grandstander-Thin.woff");
  }
  
  @font-face {
    font-family: font4;
    src: url("fonts/Lato-Regular.woff");
  }
  
  @font-face {
    font-family: font5;
    src: url("fonts/Montserrat-Regular.woff");
  }
  
  @font-face {
    font-family: font6;
    src: url("fonts/Nunito-Regular.woff");
  }
  
  @font-face {
    font-family: font7;
    src: url("fonts/Satisfy-Regular.WOFF");
  }
  
  @font-face {
    font-family: font8;
    src: url("fonts/Righteous-Regular.WOFF");
  }
  
  @font-face {
    font-family: font9;
    src: url("fonts/LondrinaSolid-Regular.WOFF");
  }
  
  @font-face {
    font-family: font10;
    src: url("fonts/LobsterTwo-Regular.WOFF");
  }
  
  @font-face {
    font-family: font11;
    src: url("fonts/BigShouldersInlineText-Regular.WOFF");
  }
  
  @font-face {
    font-family: font12;
    src: url("fonts/BigShouldersInlineText-Black.WOFF");
  }
  
  @font-face {
    font-family: font13;
    src: url("fonts/Akronim-Regular.woff");
  }
  
  @font-face {
    font-family: font14;
    src: url("fonts/Akronim-Regular-1.woff");
  }
  
  @font-face {
    font-family: font15;
    src: url("fonts/AndadaPro-Regular.woff");
  }
  
  @font-face {
    font-family: font16;
    src: url("fonts/ArchitectsDaughter-Regular.woff");
  }
  
  @font-face {
    font-family: font17;
    src: url("fonts/Birthstone-Regular.woff");
  }
  
  @font-face {
    font-family: font18;
    src: url("fonts/OpenSansCondensed-Bold.woff");
  }
  
  @font-face {
    font-family: font19;
    src: url("fonts/OpenSansCondensed-Light.woff");
  }
  
  @font-face {
    font-family: font20;
    src: url("fonts/Oswald-Regular.woff");
  }
  
  @font-face {
    font-family: font21;
    src: url("fonts/Poppins-Regular.woff");
  }
  
  @font-face {
    font-family: font22;
    src: url("fonts/Raleway-Regular.woff");
  }
  
  @font-face {
    font-family: font23;
    src: url("fonts/Ubuntu-Bold.woff");
  }
  
  @font-face {
    font-family: font24;
    src: url("fonts/Ubuntu-Regular.woff");
  }

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  position: relative;
  text-align: center;
  background: #ef3f3f;
  align-items: center;
}
nav #header_div{
display: flex;
align-items: center;
}

nav #header_div .herolink {
font-size: 30px;
margin: 0 5px;
font-weight: bold;
text-decoration: none;
color: whitesmoke;
font-family: 'font24';
}
nav #header_div .logoimg {
  border-radius: 50%;
  background: whitesmoke;
}
 nav .for-ul-men ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav .for-ul-men{
display: flex;
}
.toggle-btn{
position: absolute;
top: .75rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 18px;
height: 16px;
}
.toggle-btn .bar{
height: 3px;
width: 100%;
background-color: #fff;
border-radius: 10px;
}


nav ul li {
list-style-type: none;
margin: 0 2px;  
padding: 10px;
}

nav ul li .nav-link{
display: inline-block;
color: #ffffff;
font-size: 20px;
text-transform: uppercase;
text-decoration: none;
font-family: 'font2';
letter-spacing: 2px;
padding: 5px 10px;
}

.nav-link:hover {
  border-bottom: 2px solid navy;
  transition: .6s ease-in-out;
  animation-name: hover;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: .2s;
}
@keyframes hover{
  from{
  transform: translateY(0);
  }
  to{ 
    transform: translateY(30%);
  }
}
nav #btn_div{
display: flex;
margin: auto 0;
}

nav #btn_div .rbtn {
  background-color: palegreen;
  border: none;
  outline: none;
  width: 100px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-family: font24;
  cursor: pointer;
  text-align: center;
  text-transform: lowercase;
}
/* med */
@media (max-width: 1020px ){
  nav #header_div{
    margin-left: 2%;
  }
  nav #header_div .logoimg{
  width: 2em;
  height: 2em;
  }
  nav #header_div .herolink{
    font-size: 20px;
  }
  .toggle-btn{
    display: flex;
    right: 0;
    margin-top: 3%;
    margin-right: 2%;
  }
  nav .for-ul-men{
  display: none;
  }
nav{
flex-direction: column;
align-items: flex-start;
}
nav .for-ul-men ul{
  flex-direction: column;
  width: 100%;
}
nav .for-ul-men{
  flex-direction: column;
  width: 100%;
}
nav #btn_div{
  margin: 5px auto;
}
nav .for-ul-men.active {
display: flex;
}
}




section{
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(./images/pexels-alesia-kozik-6544374.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
filter: brightness(80%);   
}
section #homepage-claigraph {
width: 100%;
height: 75%;
top: 15%;
position: absolute;
/*margin-left: 3%;
margin-top: 3%;*/
}
section .linkmenu {
text-decoration: none;
border: 2px solid transparent;
border-width: 20px 50px;
line-height: 60px;
outline: none;
text-align: center;
background-color: #ef3f3f;
color: whitesmoke;
font-family: font24;
}
section .linkmenu:hover {
color: darkblue;
}
section h1 {
font-family: font8;
font-size: 5em;
color: white;
}
section p {
font-family: font1;
font-size: 17px;
color: white;
}
#index-main{
}


/* styling for veggie menu */
#body_2 {
  background: white;
}
#second-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  position: relative;
  text-align: center;
  background: #ef3f3f;
}
#second-nav #second-header_div{
  display: flex;
  align-items: center;
  margin-left: 2%;
}
#second-nav #second-header_div .logoimg2 {
  border-radius: 50%;
  background: whitesmoke;
}
#second-nav #second-header_div .second-herolink{
  font-size: 30px;
  margin: 0 5px;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'font24';
}
 #third-header{
display: flex;
margin: auto 0;
margin-right: 2%;
width: 100%;
justify-content: center;
padding-top:2%;
padding-bottom: 2%;
background-color: #ef3f3f;
}
 #third-header .third-header-btn{
  width: 200px;
  height: 50px;
  margin: 0 10px;
  border-radius: 6px;
  border: none;
  color: white;
  outline: none;
  background: #0b0b6e;
  font-size: 17px;
  text-align: center;
  font-family: 'font24';
  text-transform: uppercase;
  cursor: pointer;
}
main{
width: 100%;
height: auto;
}
  #veg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: #000000;
    padding: 12px;
  }
  #veg-container .site_navigation {
    border-top-right-radius: 4px;
    height: 200px;
    width: 45%;
    margin-top: 2%;
    background: linear-gradient(114deg, tomato, black);
    border-left-style: dashed;
    border-color: burlywood;
  }
  .veggie-icon {
    border-radius: 4px;
}
.hero_title_name {
  font-family: 'font5';
  text-transform: lowercase;
  font-weight: bolder;
  font-size: 15px;
}
.hero_add {
  font-size: 12px;
}

.hero_title_menu{
font-size: larger;
text-transform: uppercase;
font-family: 'font8';
color: wheat;
}
.veggie_ul{
margin: auto 0;
}
.veggie_li {
    border: 1px solid transparent;
    font-family: 'font7';
    font-size: 17px;
}

#footer-for-veggie-menu{
width: 100%;
height: auto;
background: #ef3f3f;
}
#footer-for-veggie-menu #footer_div{
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
}
.footer-herolink{
  font-size: 30px;
  margin: 0 5px;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'font24';
}
#footer-for-veggie-menu #footer_div .logoimg2{
border-radius: 50%;
background: whitesmoke;
}
#footer-for-veggie-menu #name-for-services{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#footer-for-veggie-menu #name-for-services .span-for-names{
width: 50%;
background: navy;
border-left: 2px solid wheat;
}
#footer-for-veggie-menu #name-for-services .span-for-names .span-heading{
color: white;
font-size: 25px;
font-weight: bolder;
font-family: 'font6';
text-align: center;
text-transform: uppercase;
}
#footer-for-veggie-menu #div-for-services-footer{
display: flex;
flex-direction: row;
margin-top: 3%;
}
#footer-for-veggie-menu #div-for-services-footer #services-content{
width: 50%;
}
#div-for-services-footer #services-content #services-p{
  font-size: 15px;
  color: #fff;
  font-weight: lighter;
  font-family: 'font1';
  text-transform: lowercase;
}
#div-for-services-footer #services-content #services-content-ul{
list-style:circle;
display: flex;
flex-direction: column;
}
#div-for-services-footer #services-content #services-content-ul .s-content-li{
font-size: 20px;
padding: 2px 2px;
font-family: 'font1';
color: #fff;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section{
width: 50%;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section #flex-div-for-icons{
width: 100%;
display: flex;
flex-wrap: wrap;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section #flex-div-for-icons .services-contact-icon-class{
width: 50%;
text-align: center;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section #flex-div-for-icons .services-contact-icon-class .contact-icon-for-h3{
font-size: 15px;
color: #fff;
font-family: 'font1';
font-weight: lighter;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section #flex-div-for-icons .services-contact-icon-class .contact-icon-for-p{
font-size: 12px;
font-family: 'font7';
color: #fff;
}
#centre-for-h6{
  color: #fff;
  font-size: 17px;
  font-weight: lighter;
  font-family: 'font6';
  padding-top: 5%;
    padding-bottom: 10%;
}

/* testimonial */

.hangerText {
  color: gray;
    font-family: font1;
    z-index: 10;
    background-color: antiquewhite;
    min-width: 70%;
    max-width: 54%;
    border: 1px solid rgba(0,0,0,.1);
    padding-top: 5px;
    padding-bottom: 5px;
}
.hanger {
  position: relative;
  width: 80%;
  bottom: 1em;
  z-index: -1;
  background: darkgray;
}
#listVoid1 {
  width: 80%;
  align-self: center;
border: none;
}
.viewDelCon {
  position: relative;
    top: -40px;
    width: 90%;
    display: block;
    margin: 0 auto;
}
.notList{
  display: block;
  width: 100%;
  height: 5.9em;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: white;
  box-shadow: 0px 2px 5px 3px whitesmoke;
  margin-bottom: .2em;
}
.text-secondary {
  color: #6c757d!important;
}

/* contact us / order html */


/*.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-attachment:fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  opacity: .05;
}*/
.herolink-contact {
  text-transform: lowercase;
  display: block;
  text-align: center;
  position: relative;
  bottom: 1.1em;
}

.hero-linkcontact {
  position: relative;
  color: whitesmoke;
  height: 3.5em;
  top: 0em;
  font-size: xx-large;
  font-family: 'font24';
  margin: 0 auto;
  background: #ef3f3f;
  border-bottom: 2px solid lawngreen;
}
.hr-cont {
  position: relative;
    width: 16em;
    background: bisque;
    border: transparent;
    height: 2px;
    left: 31.5em;
    top: -4.2em;
}
.logoimg-contact {
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  left: 32.5em;
  bottom: 6.8em;
  background: whitesmoke;
}
.waicon {
  height: 1.2em;
  position: relative;
}

.container-cont {
  background-color: white;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 5px 3px whitesmoke;
  padding: 15px;
  position: relative;
  margin: 2% auto;
}
.text-dark-cont {
  color: #69727b!important;
  font-family: 'font1';
  font-size: 18px;
  font-weight: lighter;
}
.text-success {
  color: #28a745!important;
  font-size: 14px;
    text-transform: capitalize;
}
.socialLinks {
  position: relative;
  top: 1em;
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  border-radius: 15px;
}
.clSize {
  margin: .5em;
  width: 2em;
  height: 2em;
  border-radius: 5px;
}
.inputCon {
  position: relative;
  display: flex;
  margin-top: 2.5em;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: transparent;
}
.m-input {
  background-color: white;
  color: #000000;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2.5em;
  border: 1px solid gainsboro;
  box-shadow: inset 0 0 0 0.1em #fff;
  font-family: font6;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 14px;
  text-indent: 0.5em;
}
#contactbutton {
  -webkit-box-sizing: border-box;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  background-color: #ef3f3f;
  border: 2px solid rgb(227, 252, 227);
  text-decoration: none;
  color: white;
  width: 100%;
  height: 2.5em;
  border-radius: 10px;
  text-align: center;
  font-family: font5;
  vertical-align: middle;
}
.contact-hover {
  color: white;
}
.contact-hover:hover {
  color: white;
}
.text-secondary {
  color: #6c757d!important;
  font-size: 13px;
  font-family: font2;
}


/* About us */
.abt-hr {
  background: darkgray;
}
#abt_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.abt-grp {
  border-radius: 8px;
  height: auto;
  width: 27%;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  background: #eecca2;
  text-align: center;
  font-family: 'font6';
  font-size: 13px;
  border: 1px solid transparent;
  box-shadow: 3px 1px 4px 1px #cbbfbf;
}
span{
  webkit-user-modify: read-write-plaintext-only;
  text-shadow: 0px 0px 1px black;
  font-size: smaller;
}
.marq-abt  {
    border: 1px solid transparent;
    background: #3b3838;
    color: azure;
    height: 2em;
}
.innermarq-abt {
  padding-top: 5px;
}
.suscribe-abt {
    background: whitesmoke;
    width: 70%;
    padding: 10px;
    height: auto;
}
.sus-h3 {
  position: relative;
    font-family: 'font2';
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.sandokan {
  width: 100%;
}
.sandi {
  background-color: white;
    color: #000000;
    -webkit-box-sizing: border-box;
    display: block;
    width: 90%;
    height: 40px;
    border: 1px solid gainsboro;
    box-shadow: inset 0 0 0 0.1em #fff;
    font-family: font6;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 14px;
    text-indent: 0.5em;
}
.suscribe-subm {
  -webkit-box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    background-color: #ef3f3f ;
    border: 2px solid rgb(227, 252, 227);
    text-decoration: none;
    color: white;
    width: 45%;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-family: font5;
    vertical-align: middle;
}
.suscribe-subm:hover {
  background: navy;
  transition: 1.4s;
}
.p-user {
  position: relative;
  color: red;
  top: 0em;
}

.container-about {
  background-color: white;
  height: auto;
  width: 80%;
  box-shadow: 0px 2px 5px 3px whitesmoke;
  padding: 15px;
  margin: 0 auto;
}
#me {
  color: black;
}
.ppText {
  color: #6c757d;
  font-size: 14px;
  font-family: font6;
  line-height: 1.46em;
}


/* notification */




h7 {
  font-size: 13px;
  font-family: 'font6';
  float: left;
  display: inline-block;
}

h8 {
  font-size: 13px;
  font-family: 'font6';
  float: right;
  display: inline-block;
}
.hanger {
  border-top: 1px solid gray;
}

.jumbotron-fluid {
      padding-right: 0;
      padding-left: 0;
      border-radius: 0;
  }

.text-info {
  color: #17a2b8!important;
  position: relative;
    bottom: 3px;
    letter-spacing: 1px;
}
.text-danger {
  color: #dc3545!important;
  position: relative;
    bottom: 3px;
    letter-spacing: 1px;
}
.notify-container {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0;
}

/*STYLING MEDIA QUERIES FOR RESPONSIVENESS*/

@media (max-width:790px){
  section h1{
    font-size: 3em;
  }
  #veg-container .site_navigation{
  width: 100%;
  }
  #footer-for-veggie-menu #footer_div .logoimg2{
  width: 2em;
  height: 2em;
  }
  .footer-herolink{
  font-size: 20px;
  }
#footer-for-veggie-menu #name-for-services .span-for-names .span-heading{
font-size: 12px;
}
#div-for-services-footer #services-content #services-p{
  font-size: 12px;
}
#second-nav #second-header_div .logoimg2{
width: 2em;
height: 2em;
}
#second-nav #second-header_div .second-herolink{
font-size: 20px;
}
#third-header .third-header-btn{
  width: 32%;
  height: 40px;
  font-size: 10px;
}
.text-secondary{
font-size: 10px;
}
.text-danger{
bottom: 0px;
}
.text-info{
bottom: 0px;
}
.text-dark-cont{
  font-size: 12px;
}
.text-success{
font-size: 11px;
text-transform: lowercase;
}
.clSize{
width: 1em;
height: 1em;
}
.socialLinks{
top: .03em;
}
#div-for-services-footer #services-content #services-content-ul .s-content-li{
font-size: 18px;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section #flex-div-for-icons .services-contact-icon-class .contact-icon-for-p{
font-size: 9px;
}
#footer-for-veggie-menu #div-for-services-footer #services-contact-icons-section #flex-div-for-icons .services-contact-icon-class .contact-icon-for-h3{
  font-size: 10px;
}
#centre-for-h6{
font-size: 10px;
}
.sus-h3{
font-size: 14px;
}
}
/* END OF STYLING MEDIA QUERIES FOR RESPONSIVENESS */


/* STYLING MEDIA QUERIES FOR NAV BAR RESPONSIVENESS */
@media (max-width:960px){

}